body {
  font-family: monospace;
  background: #111f30;
}
h1 {
  color: #ffff;
  font-size: 29px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffff;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
hr {
  margin-top: 0;
}
small {
  color: #ffff;
}
small a {
  color: #ffff;
  padding: 4px 7px 5px;
  border-radius: 20px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 4px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, purple, orange);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #111f30 inset;
}
small a:hover {
  color: #ffff;
}
.weather-app-wrap {
  max-width: 600px;
  margin: 70px auto;
}
.border-around {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
}
.form-control {
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 5px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, purple, orange);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}
.form-control:focus::-webkit-input-placeholder {
  color: #fff;
}
.form-control:focus {
  color: #fff;
}
.search-button {
  border-radius: 20px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 4px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, purple, orange);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #111f30 inset;
}
.search-button:active {
  background-origin: none;
  outline: none;
  border: none;
}
.location-button {
  background: #111f30;
  height: 25px;
  width: 25px;
  padding: 19px;
  border-radius: 70%;
  border: solid 4px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, purple, orange);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #111f30 inset;
}
.location-button:hover {
  background: #111f30;
}
.location-button span {
  font-size: 18px;
  display: block;
  margin: -12px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #ffff;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: #ffff;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.gradient-border-celsius {
  padding: 5px 0 4px 2px;
  border-radius: 50%;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 4px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, purple, orange);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #111f30 inset;
}
.gradient-border-fahrenheit {
  padding: 5px 8px 4px 2px;
  margin-left: 7px;
  border-radius: 50%;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 4px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, purple, orange);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #111f30 inset;
}
